.selectedItem{
    font-weight: 700;
    color:red;
}

.extra-padding{
    padding:5px;
}

.scrolled-table{
    height: 200px;
    overflow: auto;
}


tbody{
    tr{
        td{
        padding:0;
        margin:0;
        height:1.5rem;
        }
    }
}

.table-selected{
    opacity:1;
}

.table-not-selected{
    opacity:0.5;
}

[type="checkbox"]
{
    vertical-align:middle;
}

.hidden_fastview{
    display:none;
}