.selectedItem{
    font-weight: 700;
    color:red;
}

.extra-padding{
    padding:5px;
}

.scrolled-table{
    height: 200px;
    overflow: auto;
}


tbody{
    tr{
        td{
        padding:0;
        margin:0;
        height:1.5rem;
        }
    }
}

.table-selected{
    opacity:1;
}

.table-not-selected{
    opacity:0.5;
}

[type="checkbox"]
{
    vertical-align:middle;
}

.hidden_fastview{
    display:none;
}

.bookmark-row{
    display:flex;
}

.bookmark-empty{
    padding-top:5px;
}

.bookmarked{
    color:burlywood;
    padding-top:5px;
}

.custom-action-bar{
    height: auto !important;
}

.nav-item{
    margin-left:8px;
    margin-top:5px;
    margin-bottom: 5px;
}

.wrapper {
    width: 500px;
}

.progress-bar {
    width: 100%;
    background-color: #e0e0e0;
    padding: 3px;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
}

.progress-bar-status{
    color:black;
    display: block;
    text-align:center;
    font-size:15px;
    font-weight: bold;
    margin-top:5px;
}

.progress-bar-fill {
    display: block;
    height: 18px;
    background-color: #659cef;
    border-radius: 3px;
    
    transition: width 500ms ease-in-out;
    color:black;
}

.errormessage{
    color:black;
    font-weight: bold;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.darkbg{
    background-color:#474747;
}

.min-80{
    min-width: 80px;
}

.menu-table{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
}
.spacing-4{
    border-spacing: 4px;
}
td{
    label{
        margin-left: 7px;
        margin-right: 7px;
    }
}

.table-title{
    display:block;
    text-align: center;
    font-weight: bold;
    color:white;
}

.grey-border{
    border-top-style: solid;
    border-top-color:grey;
}
.hidden_commanderview{
    display:none;
}

