<sc-page >
  <div scPageHeader>
    <sc-global-header appName="Item Commander v1.0">
      <a href="/sitecore/shell/sitecore/client/Applications/Launchpad" scGlobalLogo></a>
     
      <sc-account-information (logout)="logoutService.logout()"></sc-account-information>
    </sc-global-header>
  </div>
  <div scPageAppHeader>
    <sc-application-header text="Item Commander"></sc-application-header>
  </div>
  <div scPageActionBar> <sc-tab-group variant="switch">
    <sc-tab label="Home" class="darkbg">
      <button class="nav-item min-80" scIconButton (click)="openInputDialog('rename')">
        <sc-icon icon="ballpen"></sc-icon><br>
        <span>Rename</span>
      </button>
      <button class="nav-item min-80" scIconButton (click)="openConfirmDialog('copy')">
        <sc-icon icon="copy"></sc-icon><br>
        <span>Copy</span>
      </button>
      <button class="nav-item min-80" scIconButton (click)="openConfirmDialog('move')">
        <sc-icon icon="arrow_cross"></sc-icon><br>
        <span>Move</span>
        
      </button>
      <button class="nav-item min-80" scIconButton (click)="openConfirmDialog('delete')">
        <sc-icon icon="delete"></sc-icon><br>
        <span>Delete</span>
      </button>
      <button class="nav-item min-80" scIconButton (click)="openInsertOptions()">
        <sc-icon icon="add"></sc-icon><br>
        <span>Create </span>
      </button> <button class="nav-item min-80" scIconButton (click)="openInputDialog('search')">
        <sc-icon icon="magnifying_glass"></sc-icon><br>
        <span>Search</span>
        
      </button>
      <button class="nav-item min-80" scIconButton (click)="selectAll()">
        <sc-icon icon="arrow_circle2"></sc-icon><br>
        <span>{{selectText}} all</span>       
      </button>
    </sc-tab>
    <sc-tab label="View/Edit" class="darkbg">
      <button class="nav-item min-80" scIconButton [(scToggle)]="commanderSettings.fastViewEnabled" (click)="fastViewSearch()">
        <sc-icon icon="eye"></sc-icon><br>
        <span>View</span>
      </button>
      <button class="nav-item min-80" scIconButton [(scToggle)]="commanderSettings.mediaViewEnabled" (click)="mediaView()">
        <sc-icon icon="media_eject"></sc-icon><br>
        <span>Media</span>
      </button>
      <sc-dropdown class="nav-item ">
        <button scDropdownToggle class="min-80" scIconButton (click)="loadEditorOptions()">
          <sc-icon icon="edit"></sc-icon><br>
          <span>Edit</span>
        </button>
        <sc-dropdown-menu class="dropdownMenu" *ngIf="editorOptions && commanderSettings.selectedItem">
          <sc-dropdown-header>Content Editor</sc-dropdown-header>
          <a *ngFor="let lang of editorOptions.Languages" scDropdownItem target="_blank"
            href="/sitecore/shell/Applications/Content%20Editor.aspx?fo={{commanderSettings.selectedItem.Id}}&la={{lang}}&sc_lang=en">{{lang}}</a>

          <div *ngIf="editorOptions.HasPresentation">
            <sc-dropdown-divider></sc-dropdown-divider>
            <sc-dropdown-header>Exp Editor</sc-dropdown-header>
            <a *ngFor="let lang of editorOptions.Languages" scDropdownItem target="_blank"
              href="/?sc_mode=edit&sc_itemid={{commanderSettings.selectedItem.Id}}&sc_lang={{lang}}">{{lang}}</a>
              <sc-dropdown-divider></sc-dropdown-divider>
            <sc-dropdown-header>Preview</sc-dropdown-header>
            <a *ngFor="let lang of editorOptions.Languages" scDropdownItem target="_blank"
              href="/?sc_mode=previewt&sc_itemid={{commanderSettings.selectedItem.Id}}&sc_lang={{lang}}">{{lang}}</a>
          </div>
        </sc-dropdown-menu>
      </sc-dropdown>
      <sc-dropdown class="nav-item min-80"> <button scButton  class="min-80" scDropdownToggle>
        <sc-icon icon="lock"></sc-icon><br>
        <span>Locking</span></button>
      <sc-dropdown-menu class="dropdownMenu">
        <sc-dropdown-header>Lock/Unlock</sc-dropdown-header>
        <a scDropdownItem (click)="openConfirmDialog('lock')">Lock</a>
        <a scDropdownItem (click)="openConfirmDialog('unlock')">Unlock</a>
      </sc-dropdown-menu>
    </sc-dropdown>
    </sc-tab>
  
    <sc-tab label="Developer" class="darkbg" >
      <button class="nav-item min-80" scIconButton (click)="downloadAsPackage()">
        <sc-icon icon="arrow_down"></sc-icon>   <br>
        <span>Download</span>
        
      </button>
    </sc-tab>
    <sc-tab label="Security" class="darkbg" >
      <a class="nav-item min-80" scIconButton target="_blank" *ngIf="commanderSettings.selectedItem"
      href="/sitecore/shell/Applications/Security/Security%20Editor.aspx?fo={{commanderSettings.selectedItem.Id}}&sc_bw=1">
        <sc-icon icon="security_agent"></sc-icon>   <br>
        <span>Security Editor</span>
        
    </a>
    <button class="nav-item min-80" scIconButton target="_blank" *ngIf="!commanderSettings.selectedItem" disabled>
        <sc-icon icon="security_agent"></sc-icon>   <br>
        <span>Security Editor</span>
        
    </button>
      <a class="nav-item min-80" scIconButton target="_blank"  *ngIf="commanderSettings.selectedItem"
      href="/sitecore/shell/Applications/Security/Access%20Viewer.aspx?fo={{commanderSettings.selectedItem.Id}}&sc_bw=1">
        <sc-icon icon="security_badge"></sc-icon>   <br>
        <span>Access Viewer</span>
        
  </a>
  <button class="nav-item min-80" scIconButton target="_blank"  *ngIf="!commanderSettings.selectedItem" disabled>
    <sc-icon icon="security_badge"></sc-icon>   <br>
    <span>Access Viewer</span>
    
</button>
    </sc-tab>
    <sc-tab label="Settings" class="darkbg">
      <div class="menu-wrapper darkbg menu-table row">
      <table class="darkbg " style="color:white;border-right-style: solid;">
        <tr><td colspan="6"><span class="table-title">Column settings</span></td></tr>
        <tr><td  *ngFor="let option of commanderSettings.options"> <label >
          <input (change)="storeOptions()" type="checkbox" name="options" value="{{option.value}}"
            [(ngModel)]="option.checked" />
          {{option.name}}
        </label></td></tr>
       
      </table>
      <table class="darkbg " style="color:white;">
        <tr><td colspan="6"><span class="table-title">Visibility</span></td></tr>
        
        <tr>
          <td  colspan="6"> <label>Show hidden items:
            <input type="checkbox" name="hiddenItems" [(ngModel)]="commanderSettings.hiddenItems"
              (change)="showHiddenItems()" /></label></td>
        </tr>
      </table>
      
    </div>
  
     
    </sc-tab>
  </sc-tab-group>
    <sc-action-bar class="darkbg grey-border">
      <sc-action-bar-left>
        <div class="row ">
          <div class="col-4">  <span class="table-title">Selected Database</span></div>
          <div class="col-6"> <select id="database" [(ngModel)]="commanderSettings.selectedDatabase" class="form-control"
            (change)="changeDatabase()">
            <option *ngFor="let c of commanderSettings.databases" [value]="c">{{ c }}</option>
          </select></div>
       
        </div>
        
      
      </sc-action-bar-left>
      <sc-action-bar-right>
       
      </sc-action-bar-right>
    </sc-action-bar>
  </div>
  <article scPageContent class="p-4">
    <div class="card mb-3 extra-padding">
      <div class="row">
        <div class="col-6">
          <div class="bookmark-row">
            <sc-dropdown class="bookmarkTools">
              <button scDropdownToggle scIconButton>

              </button>
              <sc-dropdown-menu>
                <a *ngFor="let item of commanderSettings.bookmarks" scDropdownItem
                  (click)="loadBookmark('left',item)">{{item.Path}}</a>
              </sc-dropdown-menu>
            </sc-dropdown>
            <sc-icon class="bookmarked" icon="star" *ngIf="checkBookmark(commanderSettings.leftData)" (click)="unbookmark(commanderSettings.leftData)">
            </sc-icon>&nbsp;
            <sc-icon class="bookmark-empty" icon="star2" *ngIf="!checkBookmark(commanderSettings.leftData)" (click)="bookmark(commanderSettings.leftData)">
            </sc-icon>&nbsp;

            <input type="text" class="form-control" [ngModel]="commanderSettings.leftPath" disabled />
          </div>
          <sc-app-commander-view #leftview [side]=left [commanderSettings]="commanderSettings" ></sc-app-commander-view>         
        </div>
        <div class="col-6">
          <sc-fast-view-page [ngClass]="{'hidden_fastview':!commanderSettings.fastViewEnabled}"
            [selectedDatabase]=commanderSettings.selectedDatabase></sc-fast-view-page>
            <sc-media-view-page [ngClass]="{'hidden_fastview':!commanderSettings.mediaViewEnabled}"
            [selectedDatabase]=commanderSettings.selectedDatabase></sc-media-view-page>
          <div class="bookmark-row" *ngIf="!commanderSettings.fastViewEnabled && !commanderSettings.mediaViewEnabled">
            <sc-dropdown class="bookmarkTools">
              <button scDropdownToggle scIconButton>

              </button>
              <sc-dropdown-menu>
                <a *ngFor="let item of commanderSettings.bookmarks" scDropdownItem
                  (click)="loadBookmark('right',item)">{{item.Path}}</a>
              </sc-dropdown-menu>
            </sc-dropdown>
            <sc-icon class="bookmarked" icon="star" *ngIf="checkBookmark(commanderSettings.rightData)" (click)="unbookmark(commanderSettings.rightData)">
            </sc-icon>&nbsp;
            <sc-icon class="bookmark-empty" icon="star2" *ngIf="!checkBookmark(commanderSettings.rightData)"
              (click)="bookmark(commanderSettings.rightData)"></sc-icon>&nbsp;

            <input type="text" class="form-control" [ngModel]="commanderSettings.rightPath" disabled />
          </div>
          <sc-app-commander-view #rightview [side]=right [commanderSettings]="commanderSettings" (onError) = "handleError($event)" [ngClass]="{'hidden_commanderview':commanderSettings.fastViewEnabled || commanderSettings.mediaViewEnabled}"></sc-app-commander-view>        
          <sc-progress-indicator-panel [show]="rightLoading">
          </sc-progress-indicator-panel>
        </div>
      </div>
    </div>
  </article>
 
</sc-page>


<template #confirmDialog>
  <sc-dialog>
    <sc-dialog-header>
      <h4>{{parent.popupSettings.confirmTitle}}</h4>
    </sc-dialog-header>
    <sc-dialog-body>
      <h2>Are you sure?</h2>
      <p>{{parent.popupSettings.confirmText}}</p>
      <label *ngIf="parent.popupSettings.isCopy">Copy Subitems?
      <input type="checkbox" name="hiddenItems" [(ngModel)]="parent.popupSettings.copySubItems" (change)="parent.changeTest()"/></label>
    </sc-dialog-body>
    <sc-dialog-footer>
      <button scButton scDialogClose>Cancel</button>
      <button scButton="primary" (click)="parent.Action()">Ok</button>
    </sc-dialog-footer>
  </sc-dialog>
</template>

<template #simpleInput>
  <sc-dialog>
    <sc-dialog-header>
      <h4>{{parent.popupSettings.singleInputTitle}}</h4>
    </sc-dialog-header>
    <sc-dialog-body>
      <p [innerHtml]="parent.popupSettings.singleInputDescription"></p>
      <h4>{{parent.popupSettings.singleInputText}}</h4>     
      <input type="text" class="form-control" [(ngModel)]="parent.popupSettings.inputDialogValue" />
      <p>&nbsp;</p>
      <label *ngIf="parent.popupSettings.isCopy">Copy Subitems?
        <input type="checkbox" name="hiddenItems" [(ngModel)]="parent.popupSettings.copySubItems" (change)="parent.changeTest()"/></label>
    </sc-dialog-body>
    <sc-dialog-footer>
      <button scButton scDialogClose>Cancel</button>
      <button scButton="primary" (click)="parent.singleInputAction()">Go</button>
    </sc-dialog-footer>
  </sc-dialog>
</template>

<template #queryInput>
  <sc-dialog>
    <sc-dialog-header>
      <h4>{{parent.popupSettings.singleInputTitle}}</h4>
    </sc-dialog-header>
    <sc-dialog-body>
      <p [innerHtml]="parent.popupSettings.singleInputDescription"></p>
      <h4>{{parent.popupSettings.singleInputText}}</h4>     
      <input type="text" class="form-control" [(ngModel)]="parent.popupSettings.queryInputValue" />
    </sc-dialog-body>
    <sc-dialog-footer>
      <button scButton scDialogClose>Cancel</button>
      <button scButton="primary" (click)="parent.singleInputAction()">Go</button>
    </sc-dialog-footer>
  </sc-dialog>
</template>

<template #warning>
  <sc-dialog>
    <sc-dialog-header>
      <h4>Warning</h4>
    </sc-dialog-header>
    <sc-dialog-body>
      <div class="row">
        <div class="col-2">
          <sc-icon icon="about" size="xxxlarge"></sc-icon>
        </div>
        <div class="col-10" style="padding-top:30px;">
          <h2>{{parent.popupSettings.warningTitle}}</h2>
          <p>{{parent.popupSettings.warningText}}</p>
        </div>
      </div>


    </sc-dialog-body>
    <sc-dialog-footer>
      <button scButton scButton="primary" scDialogClose>Close</button>
    </sc-dialog-footer>
  </sc-dialog>
</template>

<template #insertOptions>
  <sc-dialog>
    <sc-dialog-header>
      <h4>Insert from template</h4>
    </sc-dialog-header>
    <sc-dialog-body>
      <div class="row">
          <div class="col-12">
        <p>Select a template you want to use. In the Item Name field, enter a name for the new item.</p>
          </div>
        <div class="col-6">
          <h4>Template</h4>          
          <select id="insertOptions" [(ngModel)]="parent.selectedInsertOptions" class="form-control">
            <option *ngFor="let c of parent.commanderSettings.insertOptions" [value]="c.Id"
              style="background-image:url({{c.Icon}});">{{ c.Name }}</option>
          </select>
        </div>
        <div class="col-6">
          <h4>Item name</h4>
          <input type="text" class="form-control" [(ngModel)]="parent.popupSettings.inputDialogValue" />
        </div>
      </div>
      <!-- <select ng-model="choice" *ngIf="insertOptions">
            <option ng-repeat="item in insertOptions" data-image="{{item.Icon}}">{{item.Name}}</option>
        </select> -->



    </sc-dialog-body>
    <sc-dialog-footer>
      <button scButton scDialogClose>Close</button>
      <button scButton="primary" (click)="parent.createItem()">Create</button>
    </sc-dialog-footer>
  </sc-dialog>
</template>

<template #progress>
  <sc-dialog>
    <sc-dialog-header>
      <h4>Progress</h4>
    </sc-dialog-header>
    <sc-dialog-body>
      <div class="row">
        <div class="wrapper" style="width: 100%; margin-left: 10px; margin-right:10px;text-align:right;padding-right:5px">
          <div class="progress-bar">
            <span class="progress-bar-fill" [style.width]="parent.progress + '%'" >
            
            </span>
            <span class="progress-bar-status">
              {{parent.progress}} %
            </span>
          </div>
          <p></p>
          <p class="errormessage" *ngFor="let item of parent.errors">{{item}}</p>
        </div>
      </div>


    </sc-dialog-body>
    <sc-dialog-footer>
      <button scButton scButton="primary" scDialogClose>Close</button>
    </sc-dialog-footer>
  </sc-dialog>
</template>