.selectedItem{
    font-weight: 700;
    color:red;
}

.extra-padding{
    padding:5px;
}

.scrolled-table{
    height: 200px;
    overflow: auto;
}


tbody{
    tr{
        td{
        padding:0;
        margin:0;
        height:1.5rem;
        }
    }
}

.table-selected{
    opacity:1;
}

.table-not-selected{
    opacity:0.5;
}

[type="checkbox"]
{
    vertical-align:middle;
}

.hidden_fastview{
    display:none;
}

.bookmark-row{
    display:flex;
}

.bookmark-empty{
    padding-top:5px;
}

.bookmarked{
    color:burlywood;
    padding-top:5px;
}

.custom-action-bar{
    height: auto !important;
}

.nav-item{
    margin-left:8px;
    margin-top:5px;
    margin-bottom: 5px;
}

.wrapper {
    width: 500px;
}

.progress-bar {
    width: 100%;
    background-color: #e0e0e0;
    padding: 3px;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
}

.progress-bar-status{
    color:black;
    display: block;
    text-align:center;
    font-size:15px;
    font-weight: bold;
    margin-top:5px;
}

.progress-bar-fill {
    display: block;
    height: 18px;
    background-color: #659cef;
    border-radius: 3px;
    
    transition: width 500ms ease-in-out;
    color:black;
}

.errormessage{
    color:black;
    font-weight: bold;
}