<sc-page [showNav]="isNavigationShown">
  <div scPageHeader>
    <sc-global-header appName="Item Commander v1.0" [(show)]="isNavigationShown">
      <a href="/" scGlobalLogo></a>
      <sc-account-information (logout)="logoutService.logout()"></sc-account-information>
    </sc-global-header>
  </div>
  <div scPageAppHeader>
    <sc-application-header text="Item Commander"></sc-application-header>
  </div>
  <div scPageActionBar>
    <sc-action-bar>
      <sc-action-bar-left>
        <sc-dropdown class="bookmarkTools">
          <button scDropdownToggle scIconButton>
            <sc-icon icon="edit"></sc-icon>
            Edit in content editor
          </button>
          <sc-dropdown-menu class="dropdownMenu">
            <sc-dropdown-header>Content Editor</sc-dropdown-header>
          </sc-dropdown-menu>
        </sc-dropdown>
        <button scIconButton (click)="openConfirmDialog('copy')">
          <sc-icon icon="copy"></sc-icon>
          Copy
        </button>
        <button scIconButton (click)="openConfirmDialog('move')">
          <sc-icon icon="arrow_cross"></sc-icon>
          Move
        </button>
        <button scIconButton (click)="downloadAsPackage()">
          <sc-icon icon="arrow_down"></sc-icon>
          Download as Package
        </button>
        <button scIconButton (click)="openConfirmDialog('delete')">
          <sc-icon icon="delete"></sc-icon>
          Delete
        </button>
        <button scIconButton (click)="openInputDialog('addFolder')">
          <sc-icon icon="add"></sc-icon>
          Add folder
        </button>
        <button scIconButton (click)="openInputDialog('search')">
          <sc-icon icon="magnifying_glass"></sc-icon>
          Search
        </button>
        <button scIconButton (click)="selectAll()">
          <sc-icon icon="arrow_circle2"></sc-icon>
          Select all in active tab
        </button>
        <sc-dropdown> <button scButton scDropdownToggle>
            <sc-icon icon="lock"></sc-icon>
            Lock/UnLock<sc-icon icon="lock_open"></sc-icon>
          </button>
          <sc-dropdown-menu class="dropdownMenu">
            <sc-dropdown-header>Lock/Unlock</sc-dropdown-header>
            <a scDropdownItem (click)="openConfirmDialog('lock')">Lock</a>
            <a scDropdownItem (click)="openConfirmDialog('unlock')">Unlock</a>
          </sc-dropdown-menu>
        </sc-dropdown>
      </sc-action-bar-left>
      <sc-action-bar-right>

        <button type="button" scIconButton [(scToggle)]="isSearching">
          <sc-icon icon="gearwheels"></sc-icon>
        </button>
      </sc-action-bar-right>
    </sc-action-bar>
  </div>
  <article scPageContent class="p-4">
    <div class="card mb-3 extra-padding">
      <div class="row">
        <div class="col-6">
          <input type="text" class="form-control" [ngModel]="leftPath" disabled />
          <table *ngIf="!leftLoading" scTable [ngClass]="GetTableClass('left')" (click)="tableSelect('left')">
            <thead>
              <tr>
                  <th *ngFor="let item of getSelectedOptions()">{{item.name}}</th>
              </tr>
            </thead>
            <tbody>
              <tr (dblclick)="loadParent('left')">
                <td >...</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr *ngFor="let item of leftData.Children" [ngClass]="getClass(item)" (click)="singleSelect(item)"
                (dblclick)="leftDoubleClick(item)" (contextmenu)="onRightClick(item)">
                <td><img src="{{item.Icon}}" width="10" height="10" />
                  &nbsp;{{item.Name}}
                  <sc-icon icon="lock" style="color:red" size="small" *ngIf="item.IsLocked"></sc-icon>
                </td>
                <td *ngIf="showColumn('sitecorepath')">{{item.Path}}</td>
                <td *ngIf="showColumn('templatename')">{{item.TemplateName}}</td>
                <td *ngIf="showColumn('lastmodified')">{{item.LastModified}}</td>
                <td *ngIf="showColumn('created')">{{item.Created}}</td>
                <td *ngIf="showColumn('haschildren')">{{item.HasChildren}}</td>
              </tr>
            </tbody>
          </table>
          <sc-progress-indicator-panel [show]="leftLoading">
          </sc-progress-indicator-panel>
        </div>
        <div class="col-6">
          <input type="text" class="form-control" [ngModel]="rightPath" disabled />
          <table scTable *ngIf="!rightLoading" [ngClass]="GetTableClass('right')" (click)="tableSelect('right')">
            <thead>
              <tr>
                <th *ngFor="let item of getSelectedOptions()">{{item.name}}</th>               
              </tr>
            </thead>
            <tbody>
              <tr (dblclick)="loadParent('right')">
                <td>...</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr *ngFor="let item of rightData.Children" [ngClass]="getClass(item)" (click)="singleSelect(item)"
                (contextmenu)="onRightClick(item)" (dblclick)="rightDoubleClick(item)">
                <td><img src="{{item.Icon}}" width="10" height="10" />
                  &nbsp;{{item.Name}}
                  <sc-icon icon="lock" style="color:red" size="small" *ngIf="item.IsLocked"></sc-icon>
                </td>
                <td *ngIf="showColumn('sitecorepath')">{{item.Path}}</td>
                <td *ngIf="showColumn('templatename')">{{item.TemplateName}}</td>
                <td *ngIf="showColumn('lastmodified')">{{item.LastModified}}</td>
                <td *ngIf="showColumn('created')">{{item.Created}}</td>
                <td *ngIf="showColumn('haschildren')">{{item.HasChildren}}</td>
              </tr>
            </tbody>
          </table>
          <sc-progress-indicator-panel [show]="rightLoading">
          </sc-progress-indicator-panel>
        </div>
      </div>
    </div>
  </article>
  <aside scPageContext [show]="isSearching" class="bg-basic-white">
    <div class="p-3">
      <h4>Database</h4>
      <select id="database" [(ngModel)]="selectedDatabase" class="form-control" (change)="changeDatabase()">
        <option *ngFor="let c of databases" [value]="c">{{ c }}</option>
      </select>
    </div>

    <div class="p-3">
        <label for="options">Show columns:</label>
        <div *ngFor="let option of options">
            <label>
                <input  type="checkbox"
                       name="options"
                       value="{{option.value}}"
                       [(ngModel)]="option.checked"/>
                {{option.name}}
            </label>
        </div>
    </div>
  </aside>
</sc-page>


<template #confirmDialog>
  <sc-dialog>
    <sc-dialog-header>
      <h4>{{parent.confirmTitle}}</h4>
    </sc-dialog-header>
    <sc-dialog-body>
      <h2>Are you sure?</h2>
      <p>{{parent.confirmText}}</p>
    </sc-dialog-body>
    <sc-dialog-footer>
      <button scButton scDialogClose>Cancel</button>
      <button scButton="primary" (click)="parent.Action()">Ok</button>
    </sc-dialog-footer>
  </sc-dialog>
</template>

<template #simpleInput>
  <sc-dialog>
    <sc-dialog-header>
      <h4>{{parent.singleInputTitle}}</h4>
    </sc-dialog-header>
    <sc-dialog-body>
      <h2>{{parent.singleInputText}}</h2>
      <input type="text" class="form-control" [(ngModel)]="parent.inputDialogValue"  />

    </sc-dialog-body>
    <sc-dialog-footer>
      <button scButton scDialogClose>Cancel</button>
      <button scButton="primary" (click)="parent.singleInputAction()">Go</button>
    </sc-dialog-footer>
  </sc-dialog>
</template>

<template #warning>
  <sc-dialog>
    <sc-dialog-header>
      <h4>Warning</h4>
    </sc-dialog-header>
    <sc-dialog-body>
      <div class="row">
        <div class="col-2">
          <sc-icon icon="about" size="xxxlarge"></sc-icon>
        </div>
        <div class="col-10" style="padding-top:30px;">
          <h2>{{parent.warningText}}</h2>
        </div>
      </div>


    </sc-dialog-body>
    <sc-dialog-footer>
      <button scButton scButton="primary" scDialogClose>Close</button>
    </sc-dialog-footer>
  </sc-dialog>
</template>