<sc-page [showNav]="isNavigationShown" class="page-nav">
    <div scPageHeader>
      <sc-global-header appName="Item Commander v1.0" [(show)]="isNavigationShown">
        <a href="/" scGlobalLogo></a>
        <sc-account-information (logout)="logoutService.logout()"></sc-account-information>
      </sc-global-header>
    </div>
    <div scPageAppHeader>
      <sc-application-header text="Item Commander"></sc-application-header>
    </div>
    <div scPageActionBar>
      <sc-action-bar>
        <sc-action-bar-left>
            <sc-back-button>Back</sc-back-button>
            <label>Show standardFields items:
                <input  type="checkbox"
                               name="standardFields"
                               [(ngModel)]="showStandardFields"/></label>
        </sc-action-bar-left>
        </sc-action-bar>
    </div>
    <article scPageContent class="page-nav" *ngIf="responseData">
        <sc-tab-group variant="switch" *ngIf="responseData.Languages">
            <sc-tab  *ngFor='let language of languages'  label="{{language}}">
              <nav>  
              <sc-menu> 
                  <sc-menu-category *ngFor='let section of GetSection(language)' icon="cake_slice" text="{{section}}" [open]="true">
                   
                     <div *ngFor='let field of GetFields(language, section)' class="field-padding">
                      
                          <app-image-view *ngIf="field.Type=='Image'" [context]=field></app-image-view>
                          <app-text *ngIf="field.Type!='Image'" [context]=field></app-text>
                       </div>          
                  </sc-menu-category>
                  </sc-menu></nav>
           
            </sc-tab>
          </sc-tab-group>

         
    </article>
    
  </sc-page>