<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">

    <settings>
      <setting patch:attribute="value" name="Sitecore.Services.SecurityPolicy" value="Sitecore.Services.Infrastructure.Web.Http.Security.ServicesOnPolicy, Sitecore.Services.Infrastructure" />
      <!-- Defines the maximum number of threads which used when processing items in Copy, Move, Delete tasks-->
      <setting name="ItemCommander.MaxNumberOfThreads" value="1" />
    </settings>
    <api>
      <services>
        <configuration>
          <allowedControllers hint="list:AddController">
            <allowedController desc="ItemCommanderController">ItemCommander.EntityService.Controllers.EntityController, ItemCommander.EntityService</allowedController>
          </allowedControllers>
        </configuration>
      </services>
    </api>
  </sitecore>
</configuration>